{% extends "base.html" %}
{% load humanize %}

{% block content %}
  <div class="yui3-g" id="register">
    <div class="yui3-u-1-5"></div>
    <div class="yui3-u-2-5">
      {% if account %}
        <h2 class="headline">Account Activated</h2>
        <p>You can now <a href="/accounts/login/">log in</a>, or
        return to <a href="/">DCUO LFG</a>.</p>
      {% else %}
        <h2 class="headline">Activation Error</h2>
        <p>Either your activation link was incorrect, or the activation
        token for your account has expired; activation tokens are
        valid for {{ expiration_days|apnumber }} days.</p>
        <p>Return to <a href="/">DCUO LFG</a>.
      {% endif %}
      <p></p>
    </div>
    <div class="yui3-u-2-5"></div>
  </div>
{% endblock %}
