{% extends "base.html" %}

{% block content %}
  <div class="yui3-g" id="register">
    <div class="yui3-u-1-5"></div>
    <div class="yui3-u-1-5">
      <h2 class="headline">Change your password</h2>
      <form action="." method="post">
      {{ form.as_p }}
      <input type="submit" value="Submit" />
      </form>
    </div>
    <div class="yui3-u-3-5">
        {% include "logo.html" %}
    </div>
  </div>
{% endblock %}

{% comment %}
    Clear accounts from heading since we're logging in.
{% endcomment %}
{% block account %}{% endblock account %}
