{% extends "base.html" %}

{% block content %}
  <div class="yui3-g" id="register">
    <div class="yui3-u-1-5"></div>
    <div class="yui3-u-3-5">
      <h2 class="headline">Password reset successful</h2>
      <p>We've e-mailed instructions for setting your password to the 
         e-mail address you submitted. You should be receiving it shortly.</p>
      <p>Return to <a href="/">DCUO LFG</a> or
         <a href="/accounts/profile/">your profile</a>.</p>
    </div>
    <div class="yui3-u-1-5"></div>
  </div>
{% endblock %}
