{% extends "base.html" %}

{% block title %}Password change successful | {% endblock %}

{% block content %}
  <div class="yui3-g" id="register">
    <div class="yui3-u-1-5"></div>
    <div class="yui3-u-3-5">
      <h2 class="headline">Password change successful</h2>
      <p>Your password was changed.</p>
      <p>Return to <a href="/">DCUO LFG</a> or
      return to <a href="/accounts/profile/">your profile</a>.</p>
    </div>
    <div class="yui3-u-1-5"></div>
  </div>
{% endblock %}

{% comment %}
    Clear accounts from heading since we're logging in.
{% endcomment %}
{% block account %}{% endblock account %}

