{% extends "base.html" %}

{% block title %}Join Heroes Sightings | {% endblock %}

{% block content %}
  <div class="entry">
    <p><strong>Very good!</strong>  It seems you have successfully 
	  found your way inside.</p>

    <p>If you wish to create an account here, you can join with others
    like yourself who either have a deep interest in people with special
    abilities or are themselves ordinary humans with extraordinary talents.</p>
    
    <div id="regf">
      <h2>Join Heroes Sightings</h2>
      <form action="." method="post">
        {% if form.errors %}
        <p class="error">{{ form.non_field_errors }}</p>
        {% endif %}

        <p><label for="id_username">Username:</label>
        {% if form.username.errors %}
        <p class="error">{{ form.username.errors.as_text }}</p>
        {% endif %}
        {{ form.username }}</p>

        <p><label for="id_email">Email:</label>
          {% if form.email.errors %}
            <p class="error">{{ form.email.errors.as_text }}</p>
          {% endif %}
          {{ form.email }}</p>

        <p><label for="id_password1">Password:</label>
          {% if form.password1.errors %}
            <p class="error">{{ form.password1.errors.as_text }}</p>
          {% endif %}
          {{ form.password1 }}</p>

          <p><label for="id_password2">Password (again):</label>
          {% if form.password2.errors %}
            <p class="error">{{ form.password2.errors.as_text }}</p>
          {% endif %}
          {{ form.password2 }}</p>

          <p><input type="submit" value="Activate"></p>
      </form>      
    </div>


  </div>
{% endblock %}

{% comment %}
  Kill the sidebar since we don't need the promo link
  from an actual promo page.
{% endcomment %}
{% block sidebar %}{% endblock %}

