/**
 * Style rules for DCUO LFG.
 */

body {
  background-color: #020C15;
  color: #FFF;
  width:100%;
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  font-weight: normal;
  font-size: small;
  line-height: 130%;
}
