/**
 * Style rules for DCUO LFG.
 */

html {
  height: 100%;
}
body {
  color: #FFF;
  width:100%;
  height: 100%;
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  font-weight: normal;
  font-size: small;
  line-height: 130%;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  text-align: left;
  margin: 5px;
}
h1 {
  font-size: x-large;
}
h2 {
  font-size: large;
}
h3 {
  font-size: medium;
}
p {
  text-align: left;
  margin: 10px 0;
}
a,
a:link {
  color: #20C3FF;
  text-decoration: none;
}
a:link:hover,
a:visited:hover {
  text-decoration: underline;
}
em {
  font-style: italic;
}
strong {
  font-style: bold;
}
img {
  margin: auto;
}
form {
  margin: 5px;
}
form label {
  display: block;
}
form input {
  margin: 0 0 10px 0;
}

/* Colors
 * Darkest: #020C15
 * Medium-dark: #022D4D
 * Medium-light: #006097
 * Lightest: #009DD8
 *
 * Link: #20C3FF
 *
 * Green:  #98F153
 * Dark Green: #184718
 * White-blue: #BDE7FD;
 * Red: #CE0014
 */

/** Sections ************************/
#header {
  height: 30px;
  background-color: #006097;
  text-align: right;
  line-height: 250%;
  padding: 0 10px;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #BDE7FD;
}
#wrap {
  min-height: 100%;
  background-color: #020C15;
}

/** General stylistic flourishes ***/
.bggrade {
  /** XXX: still need to fix this for all browser. */
  background-image: -webkit-linear-gradient(top, #009DD8, #022D4D);
  background-image: -moz-linear-gradient(top, #009DD8, #022D4D);
}
.highlight {
  font-weight: bold;
  font-style: italic;
  background: #022D4D;
  padding: 2px 4px;
  border-radius: 2px;
}

/** Content ************************/
#blurb {
  text-align: right;
  padding: 0 0 25px 0;
}
#blurb p {
  width: 70%;
  line-height: 175%;
  margin: 30px 0 0 25px;
}
.blurb-row {
  height: 350px;
  width: 95%;
  background-color: #009DD8;
  border: 1px solid #BDE7FD;
  margin: 0 auto 5px auto;
  padding: 10px;
}
.blurb-row a,
.blurb-row a:link {
  color: #022D4D;
  text-decoration: underline;
  padding: 1px 3px;
}
.blurb-row a:link:hover,
.blurb-row a:visited:hover {
  background: #022D4D;
  color: #FFF;
  font-weight: normal;
}
h2.headline {
  position: relative;
  left: -30px;
  display: table;
  background: #CE0014;
  text-align: right;
  line-height: 120%;
  padding: 1px 5px 0 30px;
}
#register img {
  float: left;
}
.error {
  color: red;
}
.featured {
  background: #009DD8;
  border: 1px outset #020C15;
  overflow: hidden;
  margin: 0 1px;
  height: 300px;
  position: relative;
  left: -10px;
  padding: 3px 0 0 0;
}
.featured .about {
  margin: 15px 10px 15px 10px;
}
.about {
  font-style: italic;
}
.featured-lfg {
  position: absolute;
  bottom: 0;
  margin: 0 0 20px 20px;
}
.mission-index {
  background: #009DD8;
  height: inherit;
}
.mission-about {
  overflow: hidden;
}
.mission-about img {
  position: relative;
  left: -170px;
}
.mission-lfg {
  width: 95%;
  margin: auto;
}

/* LFG tools
******************************/
.lfg-info {
  margin: 15px 0;
  background-image: -webkit-linear-gradient(top, #022D4D, #009DD8);
  background-image: -moz-linear-gradient(top, #022D4D, #009DD8);
  border-radius: 5px;
}
.lfg-info p {
  text-align: center;
}
.lfg-heading p {
  width: 90%;
  margin: 10px auto;
  font-size: 1em;
  color: #009DD8;
}
.lfg-row {
  border-top: 1px solid #CCC;
}
