/**
 * Style rules for DCUO LFG.
 */

html {
  height: 100%;
}
body {
  color: #4;
  width:100%;
  height: 100%;
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  font-weight: normal;
  font-size: small;
  line-height: 130%;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  text-align: left;
  margin: 5px;
}
h1 {
  font-size: x-large;
}
h2 {
  font-size: large;
}
h3 {
  font-size: medium;
}
p {
  text-align: left;
  margin: 10px 0;
}
a,
a:link {
  color: #20C3FF;
  text-decoration: none;
}
a:link:hover,
a:visited:hover {
  text-decoration: underline;
}
em {
  font-style: italic;
}
strong {
  font-style: bold;
}
img {
  margin: auto;
}
form {
  margin: 5px;
}
form label {
  display: block;
}
form input {
  margin: 0 0 10px 0;
}

/* Colors
 * Darkest: #020C15
 * Medium-dark: #022D4D
 * Medium-light: #006097
 * Lightest: #009DD8
 *
 * Link: #20C3FF
 *
 * Green:  #98F153
 * Dark Green: #184718
 * White-blue: #BDE7FD;
 * Red: #CE0014
 */

/** Sections ************************/
#header {
  height: 30px;
  background-color: #006097;
  text-align: right;
  line-height: 250%;
  padding: 0 10px;
  margin: 0;
  border-bottom: 1px solid #020C15;
}
#wrap {
  min-height: 100%;
  background-color: #FFF;
  text-align: center;
}
#pageframe {
  border-left: 15px solid #020C15;
  border-right: 15px solid #020C15;
}

/** Content ************************/
#content {
  text-align: center;
  padding: 10px 0 25px 0;
  border-left: 2px solid #999;
  border-right: 2px solid #999;
}
#content p {
  width: 70%;
  line-height: 150%;
  margin: 15px 0 0 100px;
  letter-spacing: normal;
  word-spacing: normal;
}
#eventroll {
  background: #e9f1f3;
  border: 1px groove #020C15;
  border-radius: 10px;
  width: 85%;
  padding: 0 0 100px 0;
}
.event {
  overflow: hidden;
  margin: 15px 20px 10px 40px;
  padding: 0 0 15px 0;
  width: 80%;
  border-bottom:1px #CCC solid;
}
