{% load thumbnail %}
    <div class="yui3-g" id="content">
      <div class="yui3-u-2-5">
          {% include "logo.html" %}
          <p>Finding a group in <em>DCUO</em> should be easier! Queuing for
             randoms is nice for surprise runs, but sometimes you want to
             know what you're getting into.  This site is a "looking for
             group" tool to help players in <em>DC Universe Online</em> find
             each other.</p>
      </div>
      <div class="yui3-u-3-5">
        <div id="eventroll">
        {% for mission in missions %}
            <div class="yui3-g">
                <div class="event">
                    <a href="{{ mission.get_absolute_url }}">
                        <img src="{{ MEDIA_URL }}{{ mission.location.image|thumbnail_url:'location' }}"
                          alt="" />
                    </a>
                    <div><p>{{ mission }}</p></div>
                    <div class="event-lfg">
                        <p>
                        {% with mission.requests.count as count %}
                        Currently
                        <a href="{{ mission.get_absolute_url }}">{{ count }}
                        player{{ count|pluralize }}</a>
                        LFG for this {{ mission.num_players }} person
                        {{ mission.get_mission_type_display|lower }}.
                        {% endwith %}
                        </p>
                    </div>
                    <div class="about">
                        <p>{{ mission.about }}</p>
                    </div>
                </div> <!-- Close .event -->
            </div>
        {% endfor %}
        </div> <!-- end #eventroll -->
      </div>
    </div>
