    <div class="yui3-g">
      <div class="yui3-u-1-2">
          <img src="{{ MEDIA_URL }}/img/dcuolfg-logo.png"
            alt="DC Universe Onling Looking For Group" />
      </div>
      <div class="yui3-u-1-2">
          <p>Finding a group in DCUO should be easier!  Queuing for randoms
             is nice for surprise runs, but sometimes you want to know what
             you're getting into.  This site is a "looking for group" tool
             to help players in DC Universe Online find each other.</p>
      </div>
    </div>
