{% load thumbnail %}
    <div class="yui3-g" id="blurb">
      <div class="yui3-u-2-5">
          {% include "logo.html" %}
      </div>
      <div class="yui3-u-3-5">
          <p>Finding a group in <em>DCUO</em> should be easier! Queuing for
             randoms is nice for surprise runs, but sometimes you want to
             know what you're getting into.  This site is a "looking for
             group" tool to help players in <em>DC Universe Online</em> find
             each other.</p>
      </div>
    </div>

    <div class="yui3-g blurb-row bggrade" id="blurb-locations">
      <div class="yui3-u-1">
        <h2 class="headline">Locations</h2>
        <div class="yui3-g">
        {% for mission in missions %}
            <div class="yui3-u-1-{{ mission_count }}">
                <div class="featured">
                    <a href="{{ mission.get_absolute_url }}">
                        <img src="{{ MEDIA_URL }}{{ mission.location.image|thumbnail_url:'location' }}"
                          alt="" />
                    </a>
                    <div>{{ mission }}</div>
                    <div class="featured-lfg">
                        {% with mission.requests.count as count %}
                        Currently
                        <a href="{{ mission.get_absolute_url }}">{{ count }}
                        player{{ count|pluralize }}</a>
                        LFG for this {{ mission.num_players }} person
                        {{ mission.get_mission_type_display|lower }}.
                        {% endwith %}
                    </div>
                    <div class="about">
                        {{ mission.about }}
                    </div>
                </div> <!-- Close .featured -->
            </div>
        {% endfor %}
        </div>
      </div>
    </div>

    <div class="yui3-g blurb-row bggrade" id="blurb-toons">
      <div class="yui3-u-1">
        <h2 class="headline">Characters</h2>
      </div>
    </div>
