<!DOCTYPE html>
<html>
    <head>
        <title>MMOFLG -- Work in Progress</title>
        <style type="text/css">
            /* Only to "see" the header. */
            #header {background: yellow; height: 35px;}
        </style>
    </head>
    <body>
        <div id="header">
            {% if user.is_authenticated %}
                <p>We have an auth'ed user.</p>
            {% else %}
                <p>We do <strong>NOT</strong> have an auth'ed user.</p>
            {% endif %}
        </div>
        <h1>Success!!</h1>
        <p>Now what?!</p>
    </body>
</html>
